* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --offwhite: rgb(253, 245, 235);
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section {
    position: relative;
    background-size: cover, contain;
    background-repeat: no-repeat;
}

#section-1 {
    background-image: url('../images/background_1.jpg');
    background-position: bottom;
}

#section-2 {
    background-image: url('../images/background_2.jpg');
    background-position: top;
}

#section-4 {
    background-image: url('../images/background_3.jpg');
    background-position: bottom;
}

#navbar {
    position: absolute;
    z-index: 999;
    right: 8%;
    top: 4%;
}

#navbar > ul {
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 40px;
    color: white;
    text-shadow: 2px 0 2px #252525a2, 
                0 2px 2px #252525a2, 
                -2px 0 2px #252525a2, 
                0 -2px 2px #252525a2;
}

#navbar.invert > ul {
    color: black;
    text-shadow: none;
}

#navigation li {
    position: relative;
}

#navbar li:hover {
    cursor: pointer;
}

#navbar span {
    font-size: 10pt;
}

#buy_now_nav {
    position: relative;
    margin-left: 40px;
    box-shadow: 30px 10px 30px rgb(156, 189, 188), -30px 10px 30px rgb(145, 172, 171);
}

.buy_now_nav {
    position: absolute;
    top: -5px;
    height: 30px;
	width: 85px;
    background-color: rgb(216, 216, 216);
    background-image: linear-gradient(to top, rgb(107, 93, 93), rgb(244, 248, 238)10%, rgb(235, 240, 222) 10% 80%, rgb(185, 191, 199));
}

.buy_now_nav {
    border-left: 2px solid #888;
    border-top: 2px solid #888;
    border-bottom: 2px solid #aaa;
}

.buy_now_nav.trapezoid_left {
    border-right: 2px solid #888;
}

.trapezoid_left {
    transform: skewY(-20deg) rotate(20deg);
    left: 10px;
}

.trapezoid_right {
    transform: skewY(20deg) rotate(-20deg);
    right: 10px;
}

#buy_now_nav:hover {
    cursor: pointer;
}

#buy_now_nav > p {
    position: relative;
    z-index: 999;
    color: rgb(167, 14, 14);
    text-shadow: none;
    font-weight: bold;
    font-size: 13pt;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

#navigation {
    position: absolute;
    z-index: 999;
    right: 0;
    top: 50%;
    right: 2%;
    transform: translate(0, -50%);
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    background-color: #333;
    outline: 5px solid #333;
    opacity: 0.8;
}

#navMenu {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 40px;
}

#navigation.invert {
    background-color: rgb(253, 245, 235);
    background-image: linear-gradient(to top right, rgb(253, 245, 235), rgb(253, 245, 235), rgb(253, 245, 240));
    outline: 5px solid rgb(253, 245, 235);
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    opacity: 0.9;
}

#navMenu li {
    background-color: #333;
    outline: 1px solid white;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
}

#navigation.invert li {
    background-color: rgb(253, 245, 235);
    outline: 1px solid black;
}

#navigation #navMenu li.highlight {
    background-color: white;
    border: 3px solid #333;
}

#navigation.invert #navMenu li.highlight {
    background-color: black;
    border: 3px solid rgb(253, 245, 235);
}

#navigation > ul > li:hover {
    cursor: pointer;
}

#bottom_square {
    position: absolute;
    right: -6px;
    bottom: -36px;
	width: 0;
	height: 0;
	border-left: 31px solid transparent;
	border-right: 31px solid transparent;
	border-top: 31px solid #333;
}

#navigation.invert #bottom_square {
	border-top: 31px solid rgb(253, 245, 235);
}

#bottom_square::before,
#bottom_square::after {
    position: absolute;
    content: '';
    bottom: 5px;
    width: 1px;
    height: 36px;
    background-color: white;
    opacity: 0.5;
}

#navigation.invert #bottom_square::before,
#navigation.invert #bottom_square::after {
    background-color: #666;
}

#bottom_square::before {
    left: 12px;
    transform: rotate(45deg);
}

#bottom_square::after {
    right: 12px;
    transform: rotate(-45deg);
}

#top_square {
    position: absolute;
    right: -6px;
    top: -36px;
	width: 0;
	height: 0;
	border-left: 31px solid transparent;
	border-right: 31px solid transparent;
	border-bottom: 31px solid #333;
}

#navigation.invert #top_square {
    border-bottom: 31px solid rgb(253, 245, 235);
}

#top_square::before,
#top_square::after {
    position: absolute;
    content: '';
    top: 5px;
    width: 1px;
    height: 36px;
    background-color: white;
    opacity: 0.5;
}

#navigation.invert #top_square::before,
#navigation.invert #top_square::after {
    background-color: #666;
}

#top_square::before {
    left: 12px;
    transform: rotate(135deg);
}

#top_square::after {
    right: 12px;
    transform: rotate(-135deg);
}

#hover_menu_container {
    position: absolute;
    top: 0;
    left: -20px;
    width: 20px;
    height: 100%;
}

#hover_menu {
    position: absolute;
    display: none;
    left: -125px;
    width: 130px;
    outline: 5px solid #333;
    background-color: #333;
    color: white;
    border: 1px solid white;
    opacity: 0.9;
}

#navigation:hover #hover_menu {
    display: block;
}

#hover_menu_container:hover #hover_menu {
    display: block;
}

#hover_menu .bullet_nav {
    background-color: #333;
    width: 12px;
    height: 12px;
    outline: 1px solid white;
    transform: rotate(45deg);
    margin-right: 15px;
}

#hover_menu.invert .bullet_nav {
    background-color: var(--offwhite);
    outline: 1px solid black;
}

#hover_menu li {
    display: flex;
    flex-direction: row;
    height: 58px;
    align-items: center;
    padding-left: 15px;
}

#hover_menu li:hover {
    cursor: pointer;
}

#hover_menu.invert {
    color: black;
    outline: 5px solid var(--offwhite);
    background-color: var(--offwhite);
    border: 1px solid #bbb;
}

#hover_menu.invert li {
    outline: none;
}

#hover_menu.invert li.highlight .bullet_nav {
    background-color: black;
    outline: 1px solid black;
    border: 3px solid white;
}

#hover_menu li.highlight .bullet_nav {
    background-color: white;
    outline: 1px solid white;
    border: 3px solid #333;
}

.border {
    position: absolute;
    border: 2px solid rgba(255, 255, 255, 0.5);
    height: 97%;
    width: 99%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
    z-index: 100;
}

.border.invert {
    border: 2px solid black;
    opacity: 0.1;
}

#circle {
    display: block;
    position: absolute;
    left: -750px;
    top: -750px;
    width: 1500px;
    height: 1500px;
    z-index: 400;
    background-image: url(./../images/Magic_Circle.png);
    background-position: center;
    background-size: contain;
    filter: invert();
    opacity: 0.1;
    transition: 0.6s;
}

#circle.invert {
    filter: none;
    opacity: 0.03;
}

.cityscape {
    -webkit-transform: translate3d(0,0,0);
    display: block;
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    opacity: 0.07;
    transform: scaleX(-1);
    filter: grayscale(100);
}

#small_logo {
    display: none;
    position: absolute;
    z-index: 999;
    width: 210px;
    height: 175px;
    left: 4%;
    top: 3%;
}

/*** HOME PAGE ***/

.home_logo {
    position: absolute;
    z-index: 999;
    width: 600px;
    height: 500px;
    right: 0;
    margin-right: 350px;
    top: 15%;
}

.home_logo #main_logo {
    width: 100%;
    height: 100%;
}

.home_logo > p {
    position: absolute;
    bottom: 13%;
    left: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 20pt;
    text-shadow: 2px 0 2px #333, 0 2px 2px #333;
    text-align: center;
}

#buy_now_logo {
    position: absolute;
    z-index: 999;
    left: 22%;
    bottom: 0;
    box-shadow: 50px 10px 40px rgb(106, 167, 161), -50px 10px 40px rgb(103, 165, 161);
}

.buy_now_logo {
    position: absolute;
    top: -7px;
    height: 44px;
	width: 145px;
    background-color: rgb(216, 216, 216);
    background-image: linear-gradient(to top, rgb(107, 93, 93), rgb(244, 248, 238)10%, rgb(235, 240, 222) 10% 80%, rgb(185, 191, 199));
}

.buy_now_logo {
    border-left: 3px solid #888;
    border-top: 2px solid #888;
    border-bottom: 4px solid #aaa;
}

.buy_now_logo.trapezoid_left {
    border-right: 3px solid #888;
}

#buy_now_logo:hover {
    z-index: 999;
    cursor: pointer;
}

#buy_now_logo > p {
    position: relative;
    z-index: 999;
    color: rgb(167, 14, 14);
    text-shadow: none;
    font-weight: bold;
    font-size: 19pt;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.home_logo {
    z-index: 500;
}

#watch_trailer,
#buy_now_logo {
    z-index: 999;
}

#watch_trailer:hover,
#buy_now_logo:hover {
    cursor: pointer;
}

#watch_trailer {
    position: absolute;
    right: 10%;
    bottom: 0;
    box-shadow: 50px 10px 40px rgb(144, 177, 174), -50px 10px 40px rgb(141, 175, 173);
}

.watch_trailer {
    position: absolute;
    top: -7px;
    height: 44px;
	width: 185px;
    background-color: rgb(216, 216, 216);
    background-image: linear-gradient(to top, rgb(255, 255, 255), rgb(161, 161, 161) 10% 80%, rgb(138, 137, 137));
}

.watch_trailer {
    border-left: 3px solid #eee;
    border-top: 2px solid #eee;
    border-bottom: 4px solid #999;
}

.watch_trailer.trapezoid_left {
    border-right: 3px solid #eee;
}

#watch_trailer:hover {
    cursor: pointer;
}

#watch_trailer > p {
    position: relative;
    z-index: 999;
    color: #ddd;
    text-shadow: none;
    font-weight: bold;
    font-size: 18pt;
    font-family: 'Trebuchet MS', sans-serif;
}

.scroll_down {
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    z-index: 999;
    font-size: 10pt;
    font-family: sans-serif;
    opacity: 0.7;
}

.scroll_line {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 40px;
    width: 2px;
    background-color: white;
    opacity: 0.4;
}

/*** SECTION 2 ***/

#section-2 {
    color: white;
}

.content_container {
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 0 2px #333, 0 2px 2px #333;
    position: absolute;
    top: 22%;
    left: 5%;
    height: 70vh;
    width: 50vw;
    min-width: 550px;
}

#header_2 {
    position: absolute;
    font-size: 32pt;
    padding-bottom: 10px;
    transition: 0.9s;
    left: 0;
    opacity: 1;
}

#text_2 {
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10pt;
    line-height: 18px;
    transition: 0.8s;
    width: 96%;
    left: 0;
    top: 60px;
    opacity: 1;
}

.image_container {
    position: absolute;
    z-index: 999;
    top: 130px;
    height: 80%;
    width: 95%;
    left: 0;
    display: grid;
    gap: 35px;
    grid-template-columns: auto auto;
    transition: 1s;
    opacity: 1;
}

#header_2.hidden,
#text_2.hidden,
.image_container.hidden {
    left: -600px;
    opacity: 0;
}

.image {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover, contain;
    background-position: center;
}

.image_container_individual {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 15px black;
    text-align: center;
}

.image_container_individual > h2 {
    position: absolute;
    font-size: 26pt;
    z-index: 999;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

.image_border {
    position: absolute;
    z-index: 999;
    outline: 1px solid rgb(255, 255, 255);
    opacity: 0.3;
    width: 96%;
    height: 94%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*** SECTION 3 ***/

#fullpage {
    z-index: 300;
}

#section-3 {
    z-index: 999;
}

#section_3_content {
    position: absolute;
    z-index: 999;
    left: 5%;
    top: 27%;
    width: 27%;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#section_3_content h1 {
    font-size: 30pt;
    line-height: 42px;
    margin-bottom: 20px;
    font-weight: bold;
}

#section_3_content p {
    font-size: 10pt;
    font-weight: bold;
}

#section_3_content ul {
    list-style: none;
}

#section_3_content li {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 10pt;
    margin: 20px;
    font-weight: bold;
}

.bullet {
    width: 14px;
    height: 14px;
    background-color: black;
    outline: 1px solid black;
    border: 3px solid white;
    transform: rotate(45deg);
    margin-right: 15px;
}

.image_container_2 {
    position: absolute;
    z-index: 999;
    bottom: 22%;
    left: 37%;
    width: 50vw;
    height: 50vh;
}

.image_container_2 img {
    height: 100%;
    width: 100%;
}

#divider {
    position: absolute;
    height: 475px;
    width: 5px;
    background-color: var(--offwhite);
    left: 50%;
    top: 0;
}

#divider_square {
    position: absolute;
    left: 0;
    top: 50%;
    left: 50%;
    width: 35px;
    height: 35px;
    background-color: var(--offwhite);
    border: 1px solid #666;
    outline: 2px solid var(--offwhite);
    transform: translate( -50%, -50%) rotate(45deg);
}

#divider_square p {
    position: absolute;
    font-size: 16pt;
    transform: translate(-50%, -50%) rotate(-45deg);
    top: 49%;
    left: 50%;
}

#before,
#after {
    position: absolute;
    padding: 5px 10px 5px 10px;
    font-size: 12pt;
    margin: 15px;
    font-weight: bold;
    top: 0;
}

#before {
    left: 0;
    background-color: black;
    color: white;
}

#after {
    right: 0;
    background-color: rgb(247, 204, 13);
}

#section_3_logo {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100px;
    width: 75px;
    margin: 10px 5px;
}

#small_city,
#small_river {
    position: absolute;
    z-index: 999;
    right: 0;
    bottom: -115px;
    width: 150px;
    height: 100px;
    box-shadow: 1px 1px 5px #666;
}

#small_river {
    right: 165px;
}

#small_city:hover,
#small_river:hover {
    cursor: pointer;
}

#small_city.highlight,
#small_river.highlight  {
    border: 1px solid white;
    outline: 2px solid rgb(247, 204, 13);
}

/*** SECTION 4 ***/

#section-4 {
    color: white;
}

#header_4 {
    position: absolute;
    font-size: 32pt;
    padding-bottom: 10px;
    transition: 0.9s;
    left: 0;
    opacity: 1;
}

#text_4 {
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10pt;
    line-height: 18px;
    transition: 0.8s;
    width: 95%;
    left: 0;
    top: 60px;
    opacity: 1;
}

#header_4.hidden,
#text_4.hidden,
.image_container.hidden {
    left: -600px;
    opacity: 0;
}

#images_4.image_container {
    position: absolute;
    top: 120px;
}

/*** SECTION 5 ***/

#video_container {
    position: absolute;
    top: 230px;
    left: 110px;
    width: 80%;
    height: 70%;
}

#video_header {
    height: 7%;
}

#video_header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
}

#video_header li {
    font-stretch: condensed;
    font-size: 17pt;
}

#video_header li:first-child {
    text-decoration: underline;
}

#video_main {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 93%;
}

#video_left {
    width: 70%;
    height: 100%;
    z-index: 999;
}

#video_right {
    position: relative;
    margin-left: 40px;
    height: 100%;
    width: 30%;
    overflow: scroll;
    z-index: 999;
    overflow-x: hidden;
}

#video_right::-webkit-scrollbar {
    width: 4px;
    opacity: 0.9;
}

#video_right::-webkit-scrollbar-track {
    background-color: #ccc;
}

#video_right::-webkit-scrollbar-thumb {
  background: #000;
}

#video_list li{
    position: relative;
    z-index: 999;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 20px;
}

.video_thumbnail {
    width: 60%;
    box-shadow: 2px 2px 15px black;
}

.video_text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    padding-right: 10px;
}

.video_text h4 {
    font-weight: 100;
    padding-bottom: 10px;
}

.video_text h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12pt;
}

.video_container {
    z-index: 999;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    background-image: transparent;
}

.video_link {
    box-shadow: 2px 2px 15px black;
}


/*** SECTION 6 ***/

.border_container {
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 60%;
}

.border.invert {
    z-index: 1;
}

.cityscape {
    z-index: 1;
}

#email_container {
    z-index: 999;
    position: relative;
    border-radius: 20px;
    top: 35%;
    left: 52%;
    transform: translate(-50%, 0);
    width: 80vw;
    height: 35vh;
    background-color: rgb(245, 240, 235);
}

#email {
    position: relative;
    left: 35%;
    top: 42%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    width: 70vw;
    height: 60vh;
    padding-top: 180px;
    opacity: 1;
    transition: 0.6s;
}

#email.hidden {
    left: 300px;
    opacity: 0;
}

.label h1 {
    position: relative;
    top: 20px;
    font-stretch: condensed;
    font-size: 46pt;
}

.label p {
    position: relative;
    top: 10px;
    font-size: 12pt;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.input {
    position: relative;
    width: 10%;
    margin-left: 15px;
}

.input .email {
    box-shadow: 0px 20px 30px rgb(240, 247, 246);
}

.input .checkbox {
    box-shadow: 0px 10px 30px rgb(122, 201, 212);
}

.input .email {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12pt;
    padding-left: 15px;
    margin-bottom: 15px;
    height: 40px;
    width: 520px;
    border: 1px solid black;
}

.input .checkbox {
    position: relative;
    top: 0;
    display: inline;
    height: 16px;
    width: 16px;
}

.input .text_container {
    position: absolute;
    display: inline-block;
    margin-left: 10px;
    width: 500px;
}

.input p {
    position: relative;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 10pt;
    top: -2px;
}

.label  {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
}

label .checkbox {
    display: inline-block;
}


#submit_button {
    position: absolute;
    z-index: 999;
    top: 110px;
    left: 60px;
    box-shadow: 50px 30px 60px rgb(212, 233, 232), -50px 30px 60px rgb(209, 230, 229);
}

#submit_button:hover {
    cursor: pointer;
}

.submit_button {
    position: absolute;
    top: -8px;
    height: 54px;
	width: 145px;
    background-color: rgb(216, 216, 216);
    background-image: linear-gradient(to top, rgb(107, 93, 93), rgb(244, 248, 238)10%, rgb(235, 240, 222) 10% 80%, rgb(185, 191, 199));
    border-left: 3px solid #888;
    border-top: 2px solid #888;
    border-bottom: 4px solid #aaa;
}

.submit_button.trapezoid_left {
    border-right: 3px solid #888;
}

#submit_button p {
    position: relative;
    z-index: 999;
    color: rgb(167, 14, 14);
    text-shadow: none;
    font-weight: bold;
    font-size: 22pt;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

#footer {
    position: absolute;
    height: 40%;
    width: 100vw;
    bottom: 0;
    background-color: black;
    z-index: 900;
    color: white;
}

.footer_line {
    position: absolute;
    top: 10px;
    height: 2px;
    width: 100%;
    background-color: white;
    opacity: 0.3;
}

#footer ul {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 40px;
    font-family: fantasy;
    font-size: 14pt;
    letter-spacing: 3px;
}

#footer li:hover {
    cursor: pointer;
}

#social_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    gap: 40px;
}

#social_links img {
    width: 40px;
    height: 40px;
}

#social_links img:hover {
    cursor: pointer;
}

.tech_logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 40px;
}

#nvidia {
    width: 220px;
    height: 60px;
}

#unreal {
    width: 220px;
    height: 80px;
}

#footer > p {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
}
